[Unit]
Description=KODI Alert Service
After=multi-user.target

[Service]
Type=idle
Restart=on-success
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 -u /home/pi/kodi_event_notifier.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kodi_event_notifier

[Install]
WantedBy=multi-user.target
